---
import { Image } from "astro:assets";
import Img1 from "@/assets/images/01-carousel.jpg";
import Img2 from "@/assets/images/02-carousel.jpg";
import Img3 from "@/assets/images/03-carousel.jpg";
import Img4 from "@/assets/images/04-carousel.jpg";
import Img5 from "@/assets/images/05-carousel.jpg";

const images = Array.from({ length: 5 }).map((_, i) => `#0${i + 1}-specific`);
---

<section
  id="objectives"
  class="grid relative place-content-center min-h-screen bg-gradient-to-t from-transparent from-0% to-primary to-[150%] select-none"
>
  <div
    class="slider flex w-3/4 overflow-x-auto aspect-video mx-auto rounded-md select-none"
  >
    <Image id="01-specific" src={Img1} alt="Img1" />
    <Image id="02-specific" src={Img2} alt="Img2" />
    <Image id="03-specific" src={Img3} alt="Img3" />
    <Image id="04-specific" src={Img4} alt="Img4" />
    <Image id="05-specific" src={Img5} alt="Img5" />
  </div>
  <div class="flex gap-x-2 absolute bottom-40 left-1/2 -translate-x-1/2 z-10">
    {
      images.map((img) => (
        <a
          href={img}
          aria-label="controls"
          class="bg-accent w-2 h-2 rounded-full transition-all duration-500"
        />
      ))
    }
  </div>
  <div
    class="w-[400px] h-[400px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-secondary rounded-full -z-10 blur-3xl"
  >
  </div>
</section>

<style>
  .slider {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      flex: 1 0 100%;
      object-fit: cover;
      scroll-snap-align: center;
    }

    /* background-color: #ffffff;
    opacity: 0.8;
    background-size: 25px 25px;
    background-image: radial-gradient(#ba10e5 1.25px, #ffffff 1.25px); */
  }
</style>
